# Text-to-SQL LLM

In [1]:
import sys
sys.path.append('../src')

from text_to_sql import load_model, build_prompt, generate_sql
from sql_runner import run_query, chinook_schema, db_path

In [2]:
# Load the model
tokenizer, model = load_model()

In [9]:
# Example question
question = "What are the names of all the employees ?"
question = "What are the names of all playlists?"

In [10]:
input_text = build_prompt(question, "chinook", chinook_schema)
print("üìù Input Text:")
print(input_text)


sql = generate_sql(tokenizer, model, input_text)
print("\nüß† Generated SQL:")
print(sql)

üìù Input Text:
What are the names of all playlists? | chinook | album : AlbumId (PK), Title, ArtistId (FK ‚Üí Artist.ArtistId) | artist : ArtistId (PK), Name | customer : CustomerId (PK), FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId (FK ‚Üí Employee.EmployeeId) | employee : EmployeeId (PK), LastName, FirstName, Title, ReportsTo (FK ‚Üí Employee.EmployeeId), BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email | genre : GenreId (PK), Name | invoice : InvoiceId (PK), CustomerId (FK ‚Üí Customer.CustomerId), InvoiceDate, BillingAddress, BillingCity, BillingState, BillingCountry, BillingPostalCode, Total | invoiceline : InvoiceLineId (PK), InvoiceId (FK ‚Üí Invoice.InvoiceId), TrackId (FK ‚Üí Track.TrackId), UnitPrice, Quantity | mediatype : MediaTypeId (PK), Name | playlist : PlaylistId (PK), Name | playlisttrack : PlaylistId (PK), TrackId (PK), PlaylistId (FK ‚Üí Playlist.PlaylistId), TrackId (FK ‚Üí Track.TrackId) | track : TrackId (PK), Name, AlbumId (FK ‚Üí Album.AlbumId), MediaTypeId (FK ‚Üí MediaType.MediaTypeId), GenreId (FK ‚Üí Genre.GenreId), Composer, Milliseconds, Bytes, UnitPrice

üß† Generated SQL:
SELECT name
FROM playlist

In [11]:
run_query(db_path, sql)

üìä Query Results (as DataFrame):

                          Name
0                        Music
1                       Movies
2                     TV Shows
3                   Audiobooks
4                   90‚Äôs Music
5                   Audiobooks
6                       Movies
7                        Music
8                 Music Videos
9                     TV Shows
10             Brazilian Music
11                   Classical
12   Classical 101 - Deep Cuts
13  Classical 101 - Next Steps
14  Classical 101 - The Basics
15                      Grunge
16         Heavy Metal Classic
17                 On-The-Go 1